In [289]:
import csv
import math

        READING DATA FROM TSV FILE USING CSV MODULE

In [290]:
with open("Data/sp-22-students.tsv") as file:
    tsv_file = csv.reader(file, delimiter="\t")
    students = [student[:2] for student in list(tsv_file)[1:]]

In [291]:
no_of_students = len(students)
teams = {}
no_of_teams = int(input("Enter total number of teams: "))
team_size = no_of_students/no_of_teams

# below code in if block will handle the case when there are no equal no of students to divide among teams

if team_size % 2 != 0:
    min_team_size = round((no_of_students - 1) / no_of_teams)
else:
    min_team_size = team_size
    
# First division into teamss

for team in range(1, no_of_teams + 1):
    for member in range(0, min_team_size):
        if len(students):
            if teams.get(f"team-{team}"):
                teams[f"team-{team}"].append(students.pop())
            else:
                teams[f"team-{team}"] = [students.pop()]


# This code block below handles condition when equal no of students are not divided into the requested teams
if len(students):
    limit_member_for_team = no_of_teams//len(students)
    for team in teams:
            for limit in range(limit_member_for_team):
                if len(students):
                    teams[team].append(students.pop())

Enter total number of teams: 13

        DISPLAYING TEAMS

In [292]:

confirm = input("Enter 'Y' to print teams else 'N':")
if confirm.lower() == 'y':
    display(teams)

Enter 'Y' to print teams else 'N':y

{'team-1': [['Vemireddy, Soujanya', 'Graduate'],
  ['Vankayalapati, Vishnu Vardhan', 'Graduate'],
  ['Vanga, Mahesh Krishna Reddy', 'Graduate']],
 'team-2': [['Vadapally, Ramya Sree', 'Graduate'],
  ['Tella, Sowmya', 'Graduate'],
  ['Suresh, Akash', 'Graduate']],
 'team-3': [['Sirigiri, Harinath', 'Graduate'],
  ['Sardar, Karan Singh', 'Graduate'],
  ['Pathi, Akhilesh', 'Graduate']],
 'team-4': [['Parne, Chakradhar Reddy', 'Graduate'],
  ['Panyala, Gunakar Reddy', 'Graduate'],
  ['Panchumarthi, Ramya', 'Graduate']],
 'team-5': [['Panchumarthi, Rajitha', 'Graduate'],
  ['Mundru, Jaya Krishna', 'Graduate'],
  ['Manne, Kavya', 'Graduate']],
 'team-6': [['Mandalapu, Sri Lakshmi Jahnavi', 'Graduate'],
  ['Kurri, Lakshmi Gayathri', 'Graduate'],
  ['Kondapalli, Venkata Phani Raj S.', 'Graduate']],
 'team-7': [['Kantipudi, Bala Rama Krishna', 'Graduate'],
  ['Kanduri, Karthik Reddy', 'Graduate'],
  ['Kakkireni, Sai Nikhil', 'Graduate']],
 'team-8': [['Jagamoni, Sravya', 'Graduate'],
  ['Gunti, Rahul Sathya', 'Graduate'],
  ['Chundru, Tejasai', 'Graduate']],
 'team-9': [['Chittiprolu, Sai Manideep', 'Graduate'],
  ['Cheedu, Venkat Narayan Reddy', 'Graduate'],
  ['Bolloju, Satya Sai Srimannarayana Sarma', 'Graduate']],
 'team-10': [['Bolisetty, Nikhil', 'Graduate'],
  ['Boga, Rahul', 'Graduate'],
  ['Bandi, Sai Vineeth Reddy', 'Graduate']],
 'team-11': [['Avirneni, Anvesh', 'Graduate'],
  ['Atukuri, Sai Venkatesh', 'Graduate'],
  ['Annavarapu, Aswini K.', 'Graduate']],
 'team-12': [['Aluru, Praneeth', 'Graduate'],
  ['Zhu, Pengxu', 'Undergraduate'],
  ['Rhodes, Suqoya J.', 'Undergraduate']],
 'team-13': [['Hayes, Priscilla M.', 'Undergraduate'],
  ['Halbert, Dillon J.', 'Undergraduate'],
  ['Galang, Japp Timothy G.', 'Undergraduate']]}

        Testing
    
        Scenario: Verify the sum of members in all teams are equal to total number of students

In [293]:
total_students_in_teams = 0
for k,v in teams.items():
    print()
    total_students_in_teams+=len(v)
print("Number of students added to teams =", total_students_in_teams)

assert total_students_in_teams == no_of_students

Number of students added to teams = 39